<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <button type="button" (click)="regresar()"
                class="btn btn-outline-primary waves-effect waves-light btn-icon-square-sm mt-2 "><i
                    class="mdi mdi-keyboard-backspace"></i></button>
        </div>
        <div class="col-9">
            <div class="alert alert-danger text-center border-0 mt-2" role="alert" *ngIf="actualizo && !cargando">
                <strong>Importante!</strong> Para imprimir las etiquetas es necesario guardar la distribución de
                tarimas.
            </div>
            <app-loader *ngIf="cargando"></app-loader>
        </div>
        <div class="col-2 ml-auto">
            <div class="nav-link" style="min-height: 70px;">
                <a class=" btn btn-sm btn-soft-primary mt-3" (click)="actualizar()" *ngIf="actualizo" role="button"><i
                        class="fas fa-save mr-2"></i>Guardar</a>
            </div>
        </div>
    </div>
    
    <div id="contenedor-tarimas">
        <app-tarimador *ngIf="distribucion" [actualizo]="actualizo" [tarimas]="distribucion" style="width: 100vw;"
              [pdesAsociados]="pdesAsociados"
            [maximoCajasPorTarima]="pde.max_cajas" (movioItem)="movioItem($event)"
            (eliminarTarima)="eliminarTarima($event)" (eliminarTarimaDistribucion)="eliminarTarimaDistribucion($event)"
            (eliminarCaja)="eliminarCaja($event)">
        </app-tarimador>
    </div>
    <div>
        <div class="row ml-4 mt-2">
            <div class="col-12" *ngFor="let pde of pdesAsociados"> 
                <i class="fas fa-circle" [ngStyle]="{color:pde.color}"></i>
                <span class="ml-2" style="font-weight: bolder;"> {{pde.nombre}}</span>
            </div>
        </div>    
    </div>
</div>