<app-loader *ngIf="!cargado"></app-loader>
<div class="container-fluid">
    <form autocomplete="off" (ngSubmit)="generarDistribucion();" [formGroup]="registroForm">
        <div class="row">
            <div class="col-12">
                <div class="card mt-1 ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <button type="button" (click)="irListado()"
                                    class="btn  btn-outline-primary waves-effect waves-light btn-icon-square-sm mt-3"><i
                                        class="mdi mdi-keyboard-backspace"></i></button>
                            </div>
                            <div class="col-7">
                                <p class="font-18 font-weight-semibold mt-3">Registro del PDE</p>
                            </div>
                            <div class="col-4 mr-auto">
                                <div class="row">
                                    <ul class="list-group list-group-horizontal list-unstyled topbar-nav mb-0">
                                        <li class="creat-btn">
                                            <div class="nav-link">
                                                <button class=" btn btn-sm btn-primary " type="submit"
                                                    *ngIf="!cargando; else mostrarLoading "
                                                    [disabled]="registroForm.invalid" role="button"><i
                                                        class="fas fa-play "></i>Iniciar</button>
                                                <ng-template #mostrarLoading>
                                                    <div class="spinner-border spinner-border-custom-5 border-info"
                                                        role="status"></div>
                                                </ng-template>
                                            </div>
                                        </li>
                                        <li class="creat-btn">
                                            <div class="nav-link">
                                                <button class=" btn btn-sm btn btn-outline-secondary" type="button"
                                                    *ngIf="!cargando " (click)="limpiar()" role="button"><i
                                                        class="fas fa-trash mr-2"></i>Limpiar</button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    <label for="nombre" class="col-sm-2 col-form-label text-right">Descripción</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" formControlName="nombre"
                                            placeholder="Escribe una descripción" error-indicador
                                            [valido]="!tieneError('nombre')">
                                    </div>
                                </div>


                            </div>


                            <!-- <div class="col-3">
                                <div class="form-group row">
                                    <label for="lote" class="col-sm-4 col-form-label text-right">Lote</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="lote" formControlName="lote" error-indicador
                                            [valido]="!tieneError('lote')" class="form-control">
                                    </div>
                                </div>
                            </div> -->

                            <div class="col-3">
                                <div class="form-group row">
                                    <label for="fecha" class="col-sm-3 col-form-label text-right">Fecha</label>
                                    <div class="col-sm-6">
                                        <input name="fecha" #text class="form-control"
                                            placeholder="Capture fecha de entrega" id="min-date">
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-left">Cajas por tarima</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" formControlName="max_cajas" placeholder="Serial"
                                            error-indicador [valido]="!tieneError('max_cajas')">
                                    </div>
                                </div>
                            </div>



                            <div class="col-3">
                                <div class="form-group row">
                                    <label for="lote" class="col-sm-4 col-form-label text-right">Lote</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="lote" formControlName="lote" error-indicador
                                            [valido]="!tieneError('lote')" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-3">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label text-right ">Orden de compra</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" formControlName="orden_compra"
                                            error-indicador
                                            [valido]="!tieneError('orden_compra')">
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-3 ">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right">Serial</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" formControlName="serial" 
                                            error-indicador [valido]="!tieneError('serial')">
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-3 ">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right"># Proveedor</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" formControlName="numero_proveedor" error-indicador
                                            [valido]="!tieneError('numero_proveedor')">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="row">
        <div class="col-8">
            <ejs-spreadsheet #spreadsheet [enableContextMenu]=false [showFormulaBar]="false" (created)="created()"
                [showRibbon]="false" [showSheetTabs]="false" [height]="spreadheight">
                <e-sheets>
                    <e-sheet [showGridLines]="true" [showHeaders]="true">
                        <e-columns>
                            <e-column [width]=10></e-column>
                            <e-column [width]=150></e-column>
                            <e-column [width]=70></e-column>                            
                            <e-column [width]=280></e-column>
                        </e-columns>
                    </e-sheet>
                </e-sheets>
            </ejs-spreadsheet>
        </div>
    </div>