<div class="card report-card">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <p class="text-dark mb-0 font-weight-semibold">{{etiqueta}}</p>
                <h6 class=" text-muted mt-2 m-0">{{subtitulo}}</h6>
                <h3 class="m-0">{{cuerpo}}</h3>                                                    
               
            </div>
            <div class="col-auto align-self-center">                              
                             
                <i class="far fa-check-circle text-success fa-2x"*ngIf="success" ></i>   
                <i class="far fa-window-close    text-danger fa-2x" *ngIf="!success"></i>                        
                
            </div>
        </div>
    </div><!--end card-body--> 
</div>
