<div class="container-fluid">

    <div class="row">
        <div class="col-1">
            <div class="pt-2">
                <button type="button" (click)="regresar()" class="btn btn-outline-primary waves-effect waves-light btn-icon-square-sm "><i  class="mdi mdi-keyboard-backspace"></i></button>            
            </div>            
        </div>

        <div class="col-3">
            <h3>Revisión kits  </h3>
        </div>
        <div class="col-1 offset-6 ">
            <div class="pt-2">
                <h4 class="text-muted">
                    {{stackKit.nombreCaja}}
                </h4>
            </div>
            
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group mt-2">                                                                                
                        <div *ngIf="haRevisadoTodo" class="alert custom-alert custom-alert-success icon-custom-alert alert-secondary-shadow fade show" role="alert">                                            
                                        <i class="mdi mdi-check-all alert-icon text-success align-self-center font-30 mr-3"></i>
                                        <div class="alert-text my-1">                                            
                                            <span>SE HAN REVISADO TODOS LOS KITS DE ESTA CAJA.</span>
                                        </div>                                        
                                    </div>
                <div class="input-group" *ngIf="!haRevisadoTodo" >
                    <input type="text" name="sku" class="form-control input-code-matrix " [(ngModel)]="skuTxt"
                        placeholder="Capture código del kit" (keypress)="revisarSKU($event)">
                    <div class="input-group-append">
                        <span class="input-group-text btn-data-matrix"><i class="fas fa-qrcode qr "></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 ml-auto">
            <div class="text-center">
                <h3 class="text-muted">{{stackKit.nombreTarima}}</h3>
            </div>

        </div>
        <div class="col-3">
            <div class="text-center text-muted">
                <h3 class="text-muted">Caja {{stackKit.numeroCaja }}</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        
        <div class="col-4">
            <div class="card report-card">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
                            <p class="text-dark mb-0 font-weight-semibold">ACEPTADOS</p>
                            <h3 class="m-0">{{kitAceptados}}</h3>
                        </div>
                        <div class="col-auto align-self-center"><i class="far fa-check-circle text-success fa-2x"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card report-card">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
                            <p class="text-dark mb-0 font-weight-semibold">RECHAZADOS</p>
                            <h3 class="m-0">{{kitRechazados}}</h3>
                        </div>
                        <div class="col-auto align-self-center"><i class="far fa-window-close text-danger fa-2x"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card report-card">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col">
                            <p class="text-dark mb-0 font-weight-semibold">TOTAL KITS</p>
                            <h3 class="m-0">{{stackKit.totalKits}}</h3>
                        </div>
                        <div class="col-auto align-self-center"><i class="fas fa-tasks  text-primary fa-2x"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="row">
        
        <div class="col-4">
            <div  *ngFor="let revision of revisiones;let i=index">                             
                <div class="checkbox checkbox-success checkbox-circle">
                    <i class="la la-angle-double-right text-info mr-2"></i>
                    <input [id]="i" [checked]="revision.aceptado" type="checkbox" (change)="cambiaRevision(revision)" >
                    <label [for]="i">
                        
                        Revisión  {{i+1}}
                    </label>
                </div>
            </div>
        </div>            
        <div class="col-8">
            <div class="card">
                <div class="card-header pt-1 pb-1" >
                    <div class="card-title">
                        <h6>
                            <i class="fas fa-comment-dots "></i>
                            Notas adicionales
                        </h6>             
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="input-group">                                   
                        <textarea class="form-control"  [(ngModel)]="stackKit.comentarios" aria-label=">Notas adicionales" style="height: 108px;"></textarea>
                    </div>            
                </div>
            </div>
                    
        </div>
    </div>    

</div>