<div class="container-fluid">

    <div class="row" *ngIf="cargando">
        <app-loader-spinner></app-loader-spinner>
    </div>
    <div class="row" *ngIf="!cargando">
        <div class="col-12">
            <ejs-grid [dataSource]='lotes' class="mt-4" #grid [filterSettings]="filterSettings" allowReordering='true'
                allowFiltering=true allowPaging="true" allowResizing="true" allowSorting="true"
                [pageSettings]='pageSettings' [height]="height">
                <e-columns>
    
                    <e-column  headerText='' [allowFiltering]=false width=25>
                        <ng-template #template let-data>
                            <span class="badge badge-outline-dark detalle_icon"
                                [routerLink]="['../inspeccion',data.id_pdeOrigen,data.id_lote]"><i class="fab fa-wpforms"></i></span>
                        </ng-template>
                    </e-column>
                    <e-column field='nombrePDE' [allowFiltering]=true headerText='PDE' width=120></e-column>
                    <e-column field='totalKits' [allowFiltering]=true headerText='Total kits' width=50>
                    </e-column>                
                    <e-column field='nombre' [allowFiltering]=true width=70></e-column>                    
                    <e-column field='tipo'  [allowFiltering]=true headerText='tipo' width=70></e-column>                    
                                    
                </e-columns>
            </ejs-grid>
        </div>
    </div>
</div>

