<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-1">
            <button type="button" (click)="irListado()" class="btn btn-outline-primary waves-effect waves-light btn-icon-square-sm "><i
                    class="mdi mdi-keyboard-backspace"></i></button>
        </div>
        <div class="col-6 ml-auto">
            <h5 class="page-title"> [{{kit?.numparteprod}}] {{kit?.cont1}} {{kit?.cont2}}</h5>
        </div>
    </div>
    <div class="row">

        <div class="col-6">
            <form [formGroup]="formCaptura">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mt-2">
                            
                            <div class="input-group">
                                <input type="text" name="sku" autocomplete="off" autofill="off" class="form-control " formControlName="entrada" id="entrada_cuaderno" placeholder="Capture SKU" (keyup.enter)="verificarLibro()">

                                <div class="input-group-append" *ngIf="blockInput; else verificar ">
                                    <span class="input-group-text"><i class="fas fa-spinner fa-pulse"></i></span>
                                </div>
                                <ng-template #verificar>
                                    <div class="input-group-append" (click)="verificarLibro()">
                                        <span class="input-group-text"><i class="fas fa-qrcode qr "></i></span>
                                    </div>
                                </ng-template>
                                


                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!--end card-header-->
                        <div class="card-body my-1">
                            <div class="row" style="border-radius: 10px;padding: 10px;border: 1px solid #8193a6;">
                                <div class="col">
                                    <div class="media" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag align-self-center icon-md  mr-2" style="color:#beb144">
                                            <path
                                                d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z">
                                            </path>
                                            <line x1="7" y1="7" x2="7.01" y2="7"></line>
                                        </svg>
                                        <div class="media-body align-self-center">
                                            <p class="m-0 font-40 ">{{resumen?.total}}</p>
                                            <p class=" mb-0">Total</p>
                                        </div>
                                        <!--end media body-->
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col">
                                    <div class="media">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package align-self-center icon-md  mr-2" style="color:#ff8500"> 
                                            <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                                            <path
                                                d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                                            </path>
                                            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                            <line x1="12" y1="22.08" x2="12" y2="12"></line>
                                        </svg>
                                        <div class="media-body align-self-center">
                                            <p class="m-0 font-40">{{resumen?.reportados}}</p>
                                            <p class="mb-0">Reportados</p>
                                        </div>
                                        <!--end media body-->
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col">
                                    <div class="media">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap align-self-center icon-md  mr-2" style="color:#06d17d ">
                                            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
                                        </svg>
                                        <div class="media-body align-self-center">
                                            <p class="m-0 font-40">{{resumen?.restantes}}</p>
                                            <p class="mb-0">Pendientes</p>
                                        </div>
                                        <!--end media body-->
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 ml-auto">
            <div class="card  mt-2 ">
                <div class="card-header">
                    <div class="col ">
                        <button class="btn btn-info btn-xs" (click)="resetCuadernos()">
                            <i class="fas fa-redo mr-2"></i>
                            Reset revisión </button>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table table-bordered ">
                        <thead>
                            <tr role="row">
                                <th>Check</th>
                                <th>Cuaderno</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" *ngFor="let cuaderno of cuadernosVerificados">
                                <td class="text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item align-middle">
                                            <i class="mdi mdi-check-circle   text-success bounceIn animated" style="font-size: 1.2rem;" *ngIf="cuaderno.verificado; else NoVerificado"></i>
                                            <ng-template #NoVerificado>
                                                <i class="mdi mdi-circle-slice-8  text-warning" style="font-size: 1.2rem;"></i>
                                            </ng-template>
                                        </li>
                                    </ul>
                                </td>
                                <td>

                                    <p class="d-inline-block align-middle mb-0 bounceIn animated" [ngClass]="{bounceIn:cuaderno.verificado, animated:cuaderno.verificado}">
                                        <a class="d-inline-block align-middle mb-0 product-name">{{cuaderno.descripcion}}</a>
                                        <br>
                                        <span class="font-20 font-13">{{cuaderno.sku1}}</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>

<wc-toast position="top-center"></wc-toast>   
