#entrada_cuaderno{
    height: 40px;
    font-size: 1.1rem;
    border-color: purple;

}

.qr {
    font-size: 1.6rem;
    border-radius: 10px!important;
    
}

.input-group-text{
    border-color: purple;
    color:purple;
}